/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(src/assets/pics/fireInHand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-blend-mode: overlay;
    background-color: rgb(65, 38, 25);
}