h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
   list-style-position: inside;
}

.p-style {
   text-align: center;
   color: blue;
}